<footer class="bg-black text-light py-5 mt-5">
  <div class="container">

    <!-- Footer Links Section -->
    <div class="row text-center text-md-start gy-5">
      
      <!-- Brand / About -->
      <div class="col-md-3 mb-5">
        <h4 class="fw-bold">ScribeZ Store</h4>
        <p class="text-white-50 fs-6">
          Your one-stop shop for amazing products. Quality you can trust, prices you'll love.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-2 mb-5">
        <h6 class="fw-bold mb-4">Quick Links</h6>
        <ul class="list-unstyled fs-6">
          <li><%= link_to "Home", root_path, class: "text-light text-decoration-none d-block mb-3" %></li>
          <li><%= link_to "Products", products_path, class: "text-light text-decoration-none d-block mb-3" %></li>
          <li><%= link_to "Cart", cart_path, class: "text-light text-decoration-none d-block mb-3" %></li>
          <li><%= link_to "Contact Us", "#", class: "text-light text-decoration-none d-block" %></li>
        </ul>
      </div>

      <!-- Company -->
      <div class="col-md-2 mb-5">
        <h6 class="fw-bold mb-4">Company</h6>
        <ul class="list-unstyled fs-6">
          <li><a href="#" class="text-light text-decoration-none d-block mb-3">About</a></li>
          <li><a href="#" class="text-light text-decoration-none d-block mb-3">Careers</a></li>
          <li><a href="#" class="text-light text-decoration-none d-block mb-3">Support</a></li>
        </ul>
      </div>

      <!-- Store Links -->
      

      <!-- Social -->
      <div class="col-md-3 mb-5">
        <h6 class="fw-bold mb-4">Follow Us</h6>
        <div class="d-flex gap-4 justify-content-center justify-content-md-start fs-3">
          <a href="#" class="text-light"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-light"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-light"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
       <div class="col-md-2 mb-5">
        <h6 class="fw-bold mb-4">Get Our App</h6>
        <div class="d-flex flex-column gap-3">
          <a href="https://play.google.com/store/games" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" 
                 alt="Google Play" height="50">
          </a>
          <a href="https://www.apple.com/" target="_blank">
            <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" 
                 alt="App Store" height="50">
          </a>
        </div>
      </div>
    </div>
   
    <!-- Bottom Copyright -->
    <hr class="border-secondary mt-5">
    <div class="text-center small pt-3">
      <p class="mb-0">&copy; <%= Time.current.year %> ScribeZ. All rights reserved.</p>
    </div>

  </div>
</footer>
