<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Shop App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag "/Fav.png", type: "image/png" %>
    <%= favicon_link_tag "/Fav.png", rel: "apple-touch-icon", type: "image/png" %>


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" %>
    
  </head>

  <body>

  <%= render "layouts/navbar" %>

  <!-- Flash Messages -->
<div id="flash-message" style="position: fixed; top: 90px; right: 20px; z-index: 9999; min-width: 250px;">
  <% if notice %>
    <div class="alert alert-success shadow rounded-3 flash-alert" role="alert">
      <%= notice %>
    </div>
  <% elsif alert %>
    <div class="alert alert-danger shadow rounded-3 flash-alert" role="alert">
      <%= alert %>
    </div>
  <% end %>
</div>

 
  <%= yield %>

  <%= render "layouts/footer" %>

  </body>
</html>

  <script
    src='https://cdn.jotfor.ms/agent/embedjs/0198a6e87526730287d8a1ee2869cea957c8/embed.js?skipWelcome=1&maximizable=1'>
  </script>


<script>
  document.addEventListener("turbo:load", function () {
    const flash = document.getElementById("flash-message");
    if (flash) {
      setTimeout(() => {
        flash.querySelectorAll(".flash-alert").forEach(el => {
          el.style.animation = "slideOut 0.5s forwards";
        });Request
        setTimeout(() => flash.remove(), 500); // Remove after animation
      }, 1000); // 3 seconds
    }
  });
</script>

